# Copyright 2024 Kristoffer Winther Balling
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
ansible-compat~=4.1.11
molecule~=24.2.0
molecule-plugins[docker]~=23.5.3
ansible-lint~=24.2.1
paramiko~=3.4.0
